* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

/*? HEADER */
.main-title {
  padding: 1rem;
  text-align: center;
}

/*? MAIN  */

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

/*? CHANGING MANUALLY COLUMN */
.changing-manually {
}

.manually-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*? CHANGING MANUALLY COLUMN */
.changing-random {
}

/*? CHANGING RANDOM COLUMN */
.result-display {
}

/*? ALL  COLUMNS */
.changing-cols {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid red;
  width: auto;
  height: 60vh;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*? FORM ELEMENTS */
input,
button,
select {
  height: 2rem;
  width: 15vw;
}
button {
  cursor: pointer;
}
